services:
  db:
    image: postgres:15-alpine
    container_name: db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5

  minio:
    image: quay.io/minio/minio:latest
    container_name: minio
    environment:
      # Las credenciales se obtienen del archivo .env para ser aptas para producción
      MINIO_ROOT_USER: ${S3_KEY}
      MINIO_ROOT_PASSWORD: ${S3_SECRET_KEY}
    volumes:
      # Mapeo persistente de datos (ajustado para Docker Compose)
      - minio_data:/data
    command: server /data --console-address ":9001"
    restart: always
    ports:
        - "9001:9001" # Puerto de la interfaz de administración (Console)
        - "9000:9000" # Puerto API/S3
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3

    # mc alias set nombre-servidor https://ejemplo.capa8.net.ar django_bucket DSadijo32jne3
    # mc anonymous set download nombre-servidor/mi-ropa
    # mc anonymous get nombre-servidor/mi-ropa
    # Doc: https://docs.min.io/enterprise/aistor-object-store/reference/cli/mc-anonymous/mc-anonymous-set/

  web:
    build: .
    container_name: api
    command: >
      sh -c "python manage.py migrate &&
            gunicorn app.wsgi:application --bind 0.0.0.0:8000 --workers 3"
    volumes:
      - .:/usr/src/app/
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy # Espera a que Postgres esté listo
      minio:
        condition: service_healthy # Espera a que MinIO esté listo

volumes:
  postgres_data:
  minio_data:
